.view{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .cardp{
     display: flex;
     text-align: center;
     padding-top: 20px;
     
 }
 .view h3 {
     font-size: 3.2rem;
     font-family: Montserrat,sans-serif;
     font-weight: 800;
     line-height: 1.5;
 }
 .card-view{
     font-size: 20px;
  text-align: left;
  padding: 20px 20px 20px 20px;
 }
 .login{
 font-size: 15px;
 
 }
 .card-img img{
     margin: 10px;
     padding-top: 20px;
 }